<!-- ./views/index.handlebars -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-2">尋找餐廳：</h4>
      <div style="display:flex;justify-content:space-between">
        <form action="/search">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">


            <input type="text" name="location" class="form-control" placeholder="輸入地址"
              aria-label="Restaurant Location..." value="{{location}}" aria-describedby="search-button">

            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <form action="/sortby" method="POST" id="sortby">
          <select onchange="this.form.submit()" class="form-select" name="sort" form="sortby">
            <option>Sort</option>
            <option value="name-asc" {{#if sortitem.name}}selected{{/if}}>A -> Z</option>
            <option value="name-desc" {{#if sortitem.name-desc}}selected{{/if}}>Z -> A</option>
            <option value="category" {{#if sortitem.category}}selected{{/if}}>類別</option>
            <option value="location" {{#if sortitem.location}}selected{{/if}}>地區</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- restaurant list --}}
<div class="container mt-5 px-md-5">
  {{!-- 搜尋結果 --}}
  <span style="color:#666666;display:flex;justify-content:flex-start;margin-bottom:3px;">{{totalResults}}</span>
  <div class="row">
    {{#each restaurant}}
    <div class="col-12 col-md-6 col-lg-4">
      <a href="/restaurants/{{this._id}}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <div class="restaurant-location mb-1">
              <i class="fa-solid fa-location-pin "></i> {{this.location}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>

          </div>
        </div>
      </a>
      {{!-- 增加下面三個按鈕, 直接用bootstrap的flex屬性 --}}
      <div class=" d-flex flex-row justify-content-end" style="margin-bottom:30px">
        <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link btn-sm">Edit</button></a>
        <a href="/restaurants/{{this._id}}"><button class="btn btn-link btn-sm">Details</button></a>
        <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger btn-sm text-white">delete</button>
        </form>
      </div>
    </div>
    {{/each}}

  </div>
</div>